

<% cheer_ups.each do |cheer_up| %>
<div class="cheer_up <%= "user_cheerup" if cheer_up.user_id ==current_user.id %> <%= "large" if cheer_up.image_upload.length > 0 %> <%= cheer_up.rating %>" data-rating="<%= cheer_up.rating %>">
  <% if cheer_up.image_upload.length > 0 %>
  <div class="cuimage">
    <%= image_tag cheer_up.image_upload.detail.url %>
  </div>
  <% end %>

  <% if cheer_up.sound_upload.length > 0 %>
  <div class="cusound">
    <audio controls>
      <source src="<%= cheer_up.sound_upload %>" type="audio/ogg">
        <source src="<%= cheer_up.sound_upload %>" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
      <% end %>

      <div class="cucontent">
        <%= cheer_up.content %>
      </div>
      <div>
        <b>Rating:</b>
        <%= cheer_up.rating %>
      </div>

      <% if current_user %>
        <%= link_to 'Edit', edit_cheer_up_path(cheer_up) if cheer_up.user_id == current_user.id %>
        <% unless cheer_up.user_id == current_user.id then %>
          <%= link_to 'up vote', upvote_path(cheer_up.id)%>
          <%= link_to 'down vote', downvote_path(cheer_up.id)%>
        <% end %>
      <% end %>
    </div>
    <% end %>

<style type="text/css">
<% cheer_ups.each do |cheer_up| %>
  .cu_<%=cheer_up.id%> { background: url('<%= asset_path(randomized_background_image) %>') no-repeat fixed; background-size: cover;}
<% end %>
</style>

