<%= form_for(new_cheerup) do |f| %>
  <% if new_cheerup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_cheerup.errors.count, "error") %> prohibited this cheer_up from being saved:</h2>

      <ul>
      <% new_cheerup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_upload %><br />
    <%= f.file_field :image_upload %>
  </div>
  <div class="field">
    <%= f.label :sound_upload %><br />
    <%= f.file_field :sound_upload %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
