
<div id='homepage_container' class='cf'>
  <div class="cf culeft">
    <div class=" biomain">
      <div class="bio cf">
        <%= image_tag @user.image_upload.thumb.url unless @user.image_upload.thumb.url.nil? %>
        <div class='bio_name cf'><%= @user.firstname %> <%= @user.lastname %></div>
      </div>
      <div class="content">
        <%= @user.bio %>
      </div>
    </div>


    <div id='friend_list'>
      <h3>FRIEND LIST</h3>
    </div>
  </div>


  <div class="cf curight">
  <div class="cu_feed_options filter option-set btn-group" data-filter-group="category" >
    <a href="#" data-filter-value=""><button type="button" class="btn btn-info">Global</button></a>
    <a href="#" data-filter-value=".adam"><button type="button" class="btn btn-info">Trending</button></a>
    <a href="#" data-filter-value=".empty"><button type="button" class="btn btn-info">Friends</button></a>
    <a href="#" data-filter-value=".empty"><button type="button" class="btn btn-info">Yours</button></a>
  </div>

  <div id='cu_feed' >
    <%= render partial: 'cu_feed', locals: {cheer_ups: @cheer_ups}  %>
  </div>

</div>
</div>