
<div id='homepage_container' class='cf'>
  <% if signed_in? %>
  <div class="cf culeft">
    <div class=" biomain">
      <div class="bio cf">
        <%= image_tag @user.image_upload.thumb.url unless @user.image_upload.thumb.url.nil? %>

        <div class='bio_name cf'><%= @user.firstname %> <%= @user.lastname %></div>
      </div>
      <div class="content">
        <%= @user.bio %>
      </div>
    </div>
<!--insert the form here -->


  <a class="btn btn-large btn-block btn-primary" data-toggle="collapse" data-target="#demo">
     Create a Cheerup!
  </a>
  <div id="demo" class="collapse">
    <%= render partial: "main_pages/form", locals: {new_cheerup: CheerUp.new}  %>
  </div>
      <br>
    <div id='friend_list'>
        <h3>FRIEND LIST</h3>
      </div>
    </div>
    <% end %>

  <div class="cf curight">
    <div class="cu_feed_options filter option-set btn-group" data-filter-group="category" >
      <a href="#" data-filter-value=""><button type="button" class="btn btn-info">Global</button></a>
      <a href="#" data-filter-value=".adam"><button type="button" class="btn btn-info">Trending</button></a>
      <a href="#" data-filter-value=".empty"><button type="button" class="btn btn-info">Friends</button></a>
      <a href="#" data-filter-value=".user_cheerup"><button type="button" class="btn btn-info">Yours</button></a>
    </div>

<ul id="sort-by">
  <li><a href="#curating">trending</a></li>
</ul>

  <div id='cu_feed' >
    <%= render partial: 'cu_feed', locals: {cheer_ups: @cheer_ups}  %>
  </div>

</div>

</div>