<div class="row">
  <div class="span5 culeft">
    <div class="row biomain">
      <div class="span2 bio">
        <%= image_tag @user.image_upload.thumb.url unless @user.image_upload.thumb.url.nil? %>
        <h4><%= @user.firstname %> <%= @user.lastname %></h4>
      </div>
      <div class="span3 content">
        <%= @user.bio %>
        <div> 
        <h5><%= @user.created_at %></h5>
        </div>
      </div>
    </div>

    <div id='friend_list'>
      <h3>FRIEND LIST</h3>
    </div>
  </div>

  <div class="span6 curight">
    <div id='cu_nav_bar'>
    </div>
    <div>
        <%= render partial: 'single_cu', locals: {cheer_ups: @cheer_ups}  %>
    </div>
  </div>

</div>