<p id="notice"><%= notice %></p>

<p>
  <b>Image upload:</b>
  <%= image_tag @cheer_up.image_upload.thumb.url unless @cheer_up.image_upload.thumb.url.nil? %>
  <%= @cheer_up.image_upload %>
</p>

<p>
  <b>Sound upload:</b>
  <%= @cheer_up.sound_upload %>
</p>

<p>
  <b>Rating:</b>
  <%= @cheer_up.rating %>
</p>

<p>
  <b>Content:</b>
  <%= @cheer_up.content %>
</p>

<p>
  <b>Longitude:</b>
  <%= @cheer_up.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @cheer_up.latitude %>
</p>


<%= link_to 'Edit', edit_cheer_up_path(@cheer_up) %> |
<%= link_to 'Back', cheer_ups_path %>
