<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Image upload:</b>
  <%= image_tag @user.image_upload.thumb.url unless @user.image_upload.thumb.url.nil? %>
  <%= @user.image_upload %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
