<!DOCTYPE html>
<html>
<head>
  <title>Cheerups</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">Cheer Up!</a>
          <ul class="nav">
            <li><%= link_to('Home', users_path) %></li>
            <li><%= link_to('CheerUps', cheer_ups_path)%></li>
          </ul>
          <div class="pull-right">
            <% if current_user %>
              <%= current_user.email %>
              <%= link_to "log out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "log in", new_user_session_path %>
            <% end %>
    </div>
      </div>


  <%= yield %>

</body>
</html>
